<html>
<style>
  h1 {
    font-family: didot;
    font-weight: 300;
    font-variant: small-caps;
    text-align: center;
    font-size: 40px
  }
  h3 {
    font-family: didot;
    font-weight: 300;
    font-variant: small-caps;
    text-align: center;
    font-size: 25px
  }
</style>
<head>
  <title>Flask Intro - login page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <h1>Victoria & Matthew</h1>
    <h3>08.03.2024</h3>
    <form action="" method="post" align = "center">
      <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
      <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    <p align="center">
    <img src="/static/beach_embrace.jpg" width="300" height="450"/>
    </p>
  </div>
</body>


</html>
