<br>
<div class="timeline">
    <div class="container left">
      <div class="content">
        <h3 style = "text-align: center;">Grad School 2018</h3>
        <bodytext>We met at a venue so romantic you would think this was the
            plot of a Disney movie: graduate school. During "communications training"
            at the NC State Institute for Advanced Analytics we first became friends.
        </bodytext>
        <br>
        <br>
        <div align = "center"><img src="static/iaa_graduation.JPG" style="width: 100%; height: 70%"/></div>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h3 style = "text-align: center;">Thailand</h3>
        <bodytext>After being together for a few short months we went to Thailand for 15 days!
          The trip was Victoria's first experience with international travel... quite a culture shock!
          Before our trip we completed our scuba certificaiton.
        </bodytext>
        <br>
        <br>
        <div align = "center"><img src="static/silver_temple.JPG" style="width: 100%; height: 70%"/></div>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h3 style = "text-align: center;">Moving Apart</h3>
        <bodytext>Matt moved to Boston for DraftKings and Victoria moved to Indianapolis for Eli Lilly. This also marks the first year we achieved status on Delta making the effort to see each other every month.
        </bodytext>
        <br>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h3 style = "text-align: center;">Victoria Move's to Boston 2019</h3>
          <bodytext>After a year apart, Victoria got a remote position (before it was cool) and made the move to Boston. Miraculously, we drove a uhaul 14 hours and lived to tell the tale.
          </bodytext>
          <br>
          <br>
          <div align = "center"><img src="static/uhaulmove.jpeg" style="width: 100%; height: 70%"/></div>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <div align = "center"><img src="static/cali_wedding.jpg" style="width: 100%; height: 70%"/></div>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <div align = "center"><img src="static/redsox_game.jpg" style="width: 100%; height: 70%"/></div>
      </div>
    </div>
    <div class="container left">
        <div class="content">
          <div align = "center"><img src="static/don_boat.jpg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
    <div class="container right">
        <div class="content">
          <h3 style = "text-align: center;">Victoria & Matt <i>(& Jimmer)</i> Move in Together 2020</h3>
            <bodytext>After a year of living a block from eachother in South End. We moved in together, with a friend of ours, and immediately got a dog! We named hime Neptune after one of our favorite North End restaurants. <i>Immediately getting a dog was Victoria's idea and naming him after a restaurant was Matt's.</i>
            </bodytext>
            <br>
            <br>
            <div align = "center"><img src="static/neptune_fresh.jpeg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
    <div class="container left">
        <div class="content">
          <div align = "center"><img src="static/portland_cliffs.jpg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
    <div class="container right">
        <div class="content">
          <div align = "center"><img src="static/santa.jpg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
    <div class="container left">
        <div class="content">
          <div align = "center"><img src="static/jamaica_scuba.jpg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
    <div class="container right">
        <div class="content">
          <div align = "center"><img src="static/nd_basilica.jpg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
    <div class="container left">
        <div class="content">
          <div align = "center"><img src="static/nye_charlseton.jpg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
    <div class="container right">
        <div class="content">
          <h3 style = "text-align: center;">Matt Proposes to Victoria 2023</h3>
            <bodytext>On August 20<sup>th</sup>, 2023, Matt surprised Victoria by proposing to her while on a Tiki Barge in the Outer Banks.
            </bodytext>
            <br>
            <br>
            <div align = "center"><img src="static/hug_close_up.jpg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <bodytext>Photo evidence that it was in fact a surprise.
            </bodytext>
            <br>
            <br>
            <div align = "center"><img src="static/barge_w_friends.jpg" style="width: 100%; height: 70%"/></div>
        </div>
    </div>
  </div>
