<style>
    headers {
        font-family: didot;
        font-weight: 300;
        font-variant: small-caps
    }

    bodytext {
        font-family: didot;
        font-weight: 200;
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px
    }
</style>

<h1 style="text-align:center">
    <headers>Victoria & Matthew</headers>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</h1>

<h3 style="text-align:center">
    <headers>08.03.2024</headers>
</h3>

<div align="center"><img src="/static/viccarnealwed-8519.jpg" style="width: 350; height: 450" /></div>

<p style="text-align:center">
    <bodytext>Thank you all so much for coming to our wedding! We had a blast! Pictures are in the tabs!</bodytext>
</p>
